<div class="countdown">
  <div class="box">
    <div class="num">{{ cd.d }}</div>
    <div class="lbl">DÍAS</div>
  </div>
  <div class="sep">:</div>
  <div class="box">
    <div class="num">{{ cd.h }}</div>
    <div class="lbl">HORAS</div>
  </div>
  <div class="sep">:</div>
  <div class="box">
    <div class="num">{{ cd.m }}</div>
    <div class="lbl">MINUTOS</div>
  </div>
  <div class="sep">:</div>
  <div class="box box--sec">
    <div class="num">{{ cd.s }}</div>
    <div class="lbl">SEGUNDOS</div>
  </div>
</div>
